* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.home_section {
  text-align: center;
}
.contact_section {
  text-align: center;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 12vh;
  color: white;
  background-color: #dc143c;
}
.nav-links {
  width: 75%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.logo {
  color: white;
  text-decoration: none;
  font-size: 20px;
}
.link {
  color: white;
  text-decoration: none;
}
section {
  text-align: left;
}
.container {
  max-width: 1215px;
  margin: auto;
}
.about_section {
  text-align: left;
  padding: 20px;
}
.about_div span {
  color: #dc143c;
}

.about_div h2 {
  margin-bottom: 10px;
}

.about_div p {
  margin-bottom: 10px;
  line-height: 25px;
}
.about_div button {
  width: 130px;
  height: 40px;
  background: #dc143c;
  color: white;
  border: 2px solid #dc143c;
  border-radius: 5px;
  font-weight: 800;
  cursor: pointer;
  transition: all 0.3s;
}

.about_div button:hover {
  background: white;
  color: #dc143c;
}
